@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: 'Poppins';
}

.logo {
  width: 140px;
  height: inherit;
}

.logo_d {
  width: 135px;
  height: 120px;
  margin-right: 200px;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease;
  border-bottom: 2px solid #6AAED9;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  margin: 0 auto;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  list-style: none;
}

.nav li {
  margin-left: 90px;
}

.nav li a {
  font-size: 18px;
  color: #2a2a2a;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav li a:hover {
  color: #6aaed9;
}

.Profile-hover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #6aaed9;
  margin-left: -50px;
}

.Profile-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  header .container {
    width: 95%;
  }

  .nav {
    width: 80%;
  }

  .nav li {
    margin-left: 10px;
  }
}

@media (max-width: 574px) {
  .nav {
    display: none;
  }
}

.active {
  color: #6AAED9;
}

.section-heading {
  color: #6AAED9;
}

#ac {
  color: #6AAED9;
}

#top_social {
  flex-direction: row;
  margin-left: 20px;
}

#boxing {
  width: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row_footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul {
  list-style: none;
}

.footer {
  padding: 0 70px 70px 70px;
  margin-top: 10px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #6AAED9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 5px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #6AAED9;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.gg-facebook {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px
}

.gg-facebook::after,
.gg-facebook::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box
}

.gg-facebook::before {
  width: 8px;
  height: 20px;
  border-left: 4px solid;
  border-top: 4px solid;
  border-top-left-radius: 5px;
  left: 6px
}

.gg-facebook::after {
  width: 10px;
  height: 4px;
  background: currentColor;
  top: 7px;
  left: 4px;
  transform: skew(-5deg)
}

.gg-youtube {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 10px;
  box-shadow: 0 0 0 2px;
  border-radius:
    15px 15px 15px 15px / 45px 45px 45px 45px
}

.gg-youtube::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 7px;
  top: 2px;
  border-left: 4px solid currentColor;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

main {
  width: 100%;
  background-color: white;
  height: 690px;
  background-image: url('../images/1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 150px;
}

.first_word {
  color: #6AAED9;
}

.second_word {
  color: #6AAED9;
}

.services_section {
  margin-top: 40px;
  width: 100%;
  background-color: white;
  height: 600px;
  background-image: url('../assests/images/services-right-dec.png');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.service_title {
  max-width: 500px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
}


.services_section .service_title h2 {
  font-size: 30px;
  color: #2a2a2a;
  font-weight: 700px;
  line-height: 44px;
  letter-spacing: 0.25px;
  word-spacing: -1px;
}

.op_service {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  color: #345C8C;
  opacity: 0.99;
}

.services {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-top: 25px;
}

.serv1 {
  width: 350px;
  height: 425px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  padding: 30px;
  border-radius: 20px;
  position: relative;
  transition: all 0.5s;
  border: 2px solid #345C8C
}

.serv1 h4 {
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 10px;
  line-height: 30px;
}

.serv1 .line {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background-color: #eee;
}

.serv1 p {
  font-size: 15px;
  line-height: 30px;
  color: #2a2a2ae0;
  margin-top: 15px;
  padding-top: 5px;

}

.serv1:hover {
  opacity: 0.8;
  background-color: #6AAED9;
  color: #eee;

}

.serv1:hover p,
.serv1:hover h4 {
  color: #eee;

}

.serv1:hover .line {
  background-color: rgb(206, 206, 206);

}

.first_intro {
  max-width: 41%;
  margin-left: 6%;
  position: relative;
  top: 200px;

}

.first_intro .high {
  text-transform: uppercase;
  font-size: 18px;
  color: #6AAED9;
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;


}

.first_intro .second {
  font-size: 50px;
  font-weight: 700;
  color: white;
  line-height: 72px;
  letter-spacing: 0.25px;
  word-spacing: -1px;
  font-family: 'Poppins', sans-serif;
}

.first_intro .third {
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.main_header {
  display: flex;
  margin-top: -100px;
}

@-webkit-keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


.social_media {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_media img {
  margin-top: 20px;
}

.first_word {
  color: #6AAED9;
}

.second_word {
  color: #6AAED9;
}

.map {
  background-color: rgb(211, 210, 210);
  width: 641px;
  height: 350px;
  border-radius: 100px;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 10px;


}

#logoo {
  animation: bounce-in-botto 6s both infinite;

}

@keyframes bounce-in-botto {
  0% {
    -webkit-transform: rotateX(10deg);
    transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: rotateX(40deg);
    transform: rotateX(40deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: rotateX(50deg);
    transform: rotateX(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: rotateX(120deg);
    transform: rotateX(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: rotateX(150deg);
    transform: rotateX(150deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(220deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

}

.fa {
  color: #345C8C;
  font-size: 25px;
}

.wraper {
  position: absolute;
  width: 80vw;
  transform: translate(-50%, -50%);
  top: 345%;
  left: 50%;
  display: flex;
  justify-content: space-evenly;
  gap: 9px;
}

.containerr {
  width: 35vmin;
  height: 35vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 0;
  position: relative;
  font-size: 18px;
  border-radius: 0.5em;
  font-weight: 500;
  background-color: #000;
  border-bottom: 10px solid #6AAED9;
}

.containerr i {
  color: #6AAED9;
  font-size: 1.4em;
  text-align: center;
}

span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: #ffffff;
  font-size: 1em;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
  margin: 70px;
  padding-right: 150px;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 11px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}



.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #6AAED9;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #6AAED9;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }

  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .wraper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }

  .containerr {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .wraper {
    gap: 15px;
  }

  .containerr {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}

textarea {
  resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}


.svg-inline--fa {
  vertical-align: -0.200em;
}



.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.125rem;
  height: 2.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 1em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons,
.fa-facebook-f,
.fa-youtube,
.fa-instagram {
  font-size: 18px;
}

.rounded-social-buttons .social-button.facebook {
  background: #1b55d1;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #1b55d1;
}



.rounded-social-buttons .social-button.youtube {
  background: #6AAED9;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #6AAED9;
  background: #fefefe;
  border-color: #6AAED9;
}

.rounded-social-buttons .social-button.instagram {
  background: #bd4c4c;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #bd4c4c;
  background: #fefefe;
  border-color: #bd4c4c;
}

.counter_title {
  max-width: 990px;
  padding-top: 100px;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
}

.counter_title h2 {
  font-size: 30px;
  color: #2a2a2a;
  font-weight: 700px;
  line-height: 44px;
  letter-spacing: 0.25px;
  word-spacing: -1px;
}

.first_word {
  color: #345C8C;
}

.second_word {
  color: #345C8C;
}
